@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

/* font-family: 'Ms Madi', cursive; */
/* font-family: 'Work Sans', sans-serif; */
.App {
  min-height: 100vh;
  display: flex;
  background: #202020;
  color: black;
}
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}
::-webkit-scrollbar-thumb :hover {
  background-color: #555;
}
